.root {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.button-container {
  margin: 25px 0;
}

.split {
  display: flex;
  justify-content: space-between;
}

.send-right {
  display: flex;
  justify-content: flex-end;
}

.send-left {
  display: flex;
  justify-content: flex-start
}
